<div class="inner-body">
	<section id="intro">
		<div class="intro-animation">
			<div class="animated fadeInDown">Super.</div>
			<div class="animated fadeIn">Simple.</div>
			<div class="animated fadeInUp">Design.</div>
		</div>
		<div class="svg-wrapper animated delayed1s fadeInDown">
		  <svg id="pgonetext" height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Tell Me About It</div>
		  </svg>
		</div>
	</section>

	<section id="about" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">About.</div>
		</div>
		<div class="svg-wrapper animated delayed1s fadeInDown">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div id="pgtwotext" class="text">Got It</div>
		  </svg>
		</div>
	</section>
	<section id="experience">
		</section>
	<section id="projects">
	</section>
	<section id="resume">

	</section>

</div>
