<div class="content">
	 <div class="se-pre-con">
        <center>
            <div class="vertical-center">
            <span class="welcome">Welcome</span>
            </div>
        </center>
    </div>
</div>