<div class="inner-body">
	<div class="intro-animation">
		<div class="animated fadeInLeft">Super.</div>
		<div class="animated fadeInRight">Simple.</div>
		<div class="animated fadeInUp">Design.</div>
	</div>
</div>
