<div class="inner-body">
	<section id="intro">
		<div class="intro-animation">
			<div class="animated fadeInDown">Engineer.</div>
			<div class="animated fadeIn">Developer.</div>
			<div class="animated fadeInUp">Student.</div>
		</div>
		<div class="margin-top">
			<div id="introtext" class="svg-wrapper animated delayed1s fadeIn">
			    <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    	<rect class="shape" />
				<div class="text">About</div>
			    </svg>
			</div>
		</div>
	</section>

	<section id="about" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">About.</div>
		</div>
		<div class="section-center">
			<img id="introhead" class="headshot" src="">
			<div class="text-cutoff">
				<p>
					<b>University of Southern California, 2019<br>
				  Computer Science &amp; Business Administration</b>
				</p>
				<p>
				I love creating with code, optimizing things, and simple design. When I'm not working on a coding project, I like to hike, bike, play basketball, and travel. I also enjoy contributing to attribution-free UHD photo libraries. Check out <a target="_blank" href="https://unsplash.com/photos/wujwHFYxZhE">[my most popular photo]</a> from Unsplash, where my contributions have <span title="Updated in real time" class="live-update" id="usplashviewnum">[loading]</span> views (<span title="Updated in real time" class="live-update" id="usplashviewmonthnum">[loading]</span> in the past 30 days) &amp; are being used in <span title="Updated in real time" class="live-update" id="usplashdownloadnum">[loading]</span> different websites - with some of my pictures ending up in LG TV ads. Or, check out my own <a target="_blank" href="http://www-scf.usc.edu/~dgarry/photography.html">[little photography page]</a> that's still being developed! I am also a complete audiophile and spend at least 4 hours a day listening to music.
				</p>
			</div>
		</div>
		<div class="move-to-top">
			<div id="abouttext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="experience" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Experience.</div>
		</div>
		<div class="section-center">
			<div class="animated fadeInLeft photo-container">
				<img class="experience-photo-large" src="logos/usc.svg">
				<div class="experience-subtext">Java ITP-109 Head Teaching Assistant, <a target="_blank" href="https://www.usc.edu/">[USC]</a>
					<br><b>August 2016 - Present</b>
				</div>
			</div>
			<div class="animated fadeInRight photo-container">
				<img class="experience-photo-small" src="logos/raytheon.svg">
				<div class="experience-subtext">Software Development Intern, <a target="_blank" href="http://www.raytheon.com/ourcompany/">[Raytheon]</a>
				<br><b>May 2017 - August 2017</b></div>
		        </div>
			<div class="animated delayedo3s fadeInLeft photo-container">
				<img class="experience-photo-small" src="logos/kkbox.svg">
				<div class="experience-subtext">Product Development Intern, <a target="_blank" href="https://www.kkbox.com/intl/index.php?area=intl">[KKBox]</a>
				<br><b>June 2016 - August 2016</b></div>
		        </div>
			<div class="animated delayedo3s fadeInRight photo-container">
				<img class="experience-photo-small" src="logos/dashbid.svg">
				<div class="experience-subtext">Ad Operations Intern, <a target="_blank" href="https://www.dashbid.com/">[DashBid]</a>
				<br><b>May 2014 - August 2015</b></div>
			</div>
		</div>
		<div class="move-to-top">
			<div id="experiencetext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="projects" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Projects.</div>
		</div>
		<div class="section-center">
			<br>
			<div class="text-cutoff">
			Here I display only a few recent non-work and non-school related projects, some of which I may still be working on. For more, you can check out my <a target="_blank" href="https://github.com/davidgarry1">[GitHub]</a>.
			</div><br>
			<div class="projects-div">
				<div class="project-card animated fadeInLeft">
					<div class="project-img-div">
						<img class="project-img" src="http://dgarry.herokuapp.com/logos/codeu.svg">
					</div>
					<div class="project-title">
						CodeU Web Chat
					</div>
					<div class="project-links">
						<a target="_blank" href="https://github.com/davidgarry1/webportal">[GitHub]</a> <a target="_blank" href="http://codeu.dgarry.com">[Website]</a>
					</div>
					
				</div>
				<div class="project-card animated fadeIn">
					<div class="project-img-div">
						<img class="project-img" src="http://dgarry.herokuapp.com/logos/latch.svg">
					</div>
					<div class="project-title">
						LATCH Website
					</div>
					<div class="project-links">
						<a target="_blank" href="https://github.com/usclatch/usclatch.github.io">[GitHub]</a> <a target="_blank" href="http://www.usclatch.org/">[Website]</a>
					</div>
					
				</div>
				<div class="project-card animated fadeInRight">
					<div class="project-img-div">
						<img class="project-img" src="http://dgarry.herokuapp.com/logos/synergy.svg">
					</div>
					<div class="project-title">
						SynergyMCG Website
					</div>
					<div class="project-links">
						<a target="_blank" href="https://github.com/davidgarry1/synergizergroup">[GitHub]</a> <a target="_blank" href="http://synergymcg.com/">[Website]</a>
					</div>
					
				</div>
			</div>
		</div>
		<div class="move-to-top">
			<div id="projectstext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="resume" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Thanks.</div>
		</div>
		<div class="section-center">
			<img id="dg" class="standalone-image" src="">
			<br>
			<div class="text-cutoff">
				<p>If you would like to reach me, click any of the links in the doodley doo below.</p>
				<p>You can also view my more formal and detailed <a target="_blank" href="Resume.pdf">[resume]</a>.</p>
			</div>
			<br>
		</div>
		<div class="move-to-top">
			<div id="resumetext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Finish</div>
			  </svg>
			</div>
		</div>
	</section>

</div>
