<div class="inner-body">
	<section id="intro">
		<div class="intro-animation">
			<div class="animated fadeInDown">Engineer.</div>
			<div class="animated fadeIn">Developer.</div>
			<div class="animated fadeInUp">Student.</div>
		</div>
		<div class="margin-top">
			<div id="introtext" class="svg-wrapper animated delayed1s fadeIn">
			    <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    	<rect class="shape" />
				<div class="text">About</div>
			    </svg>
			</div>
		</div>
	</section>

	<section id="about" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">About.</div>
		</div>
		<div class="section-center">
			<img class="headshot" src="http://www-scf.usc.edu/~dgarry/img/headshot.jpg">
			<div class="text-cutoff">
				<p>
					<b>University of Southern California, 2019<br>
				  Computer Science &amp; Business Administration</b>
				</p>
				<p>
				I love creating things with code, optimizing things, and simple design. When I'm not working on a coding project, I like to hike, bike, play basketball, travel, and make little videos. I also enjoy contributing to license-free UHD photo libraries. Check out <a target="_blank" href="https://unsplash.com/photos/wujwHFYxZhE">[my most popular photo]</a> from Unsplash, where my contributions have 400,000+ views & 4,000+ downloads - with some of my pictures ending up in LG TV ads and album covers!  I am also a complete audiophile and spend at least 4 hours a day listening to music.
				</p>
			</div>
		</div>
		<div class="move-to-top">
			<div id="abouttext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="experience" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Experience.</div>
		</div>
		<div class="section-center">
			<div class="animated fadeInLeft photo-container">
				<img class="experience-photo-large" src="logos/usc.svg">
				<div class="experience-subtext">Head Teaching Assistant, Java Programming (ITP-109)
					<br><b>August 2016 - Present</b>
				</div>
			</div>
			<div class="animated fadeInRight photo-container">
				<img class="experience-photo-small" src="logos/raytheon.svg">
				<div class="experience-subtext">Software Development Intern, Raytheon
				<br><b>May 2017 - August 2017</b></div>
		        </div>
			<div class="animated delayedo3s fadeInLeft photo-container">
				<img class="experience-photo-small" src="logos/kkbox.svg">
				<div class="experience-subtext">Product Development Intern, KKBox
				<br><b>June 2016 - August 2016</b></div>
		        </div>
			<div class="animated delayedo3s fadeInRight photo-container">
				<img class="experience-photo-small" src="logos/dashbid.svg">
				<div class="experience-subtext">Ad Operations Intern, DashBid
				<br><b>May 2014 - August 2015</b></div>
			</div>
		</div>
		<div class="move-to-top">
			<div id="experiencetext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="projects" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Projects.</div>
		</div>
		<div class="section-center">
			<br><br><br>
			I'm working on adding them, but in the meantime, you can check out my <a target="_blank" href="https://github.com/davidgarry1">[GitHub]</a>.
			<br><br><br>
		</div>
		<div class="move-to-top">
			<div id="projectstext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Next</div>
			  </svg>
			</div>
		</div>
	</section>

	<section id="resume" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Thanks.</div>
		</div>
		<div class="section-center">
			<img id="dg" class="standalone-image" src="">
			<svg id="mustache" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0.0 0.0 960.0 720.0">
				<path transform="scale(0.15)" stroke="#000" d="M187.54 332.65c13.52 27.05 56.6 36.36 85.95 29.02 28.7-7.18 42.9-49.87 72.5-51.35 9.9-.5 21.1.74 29.02 6.7 3.22 2.42 2.67 10.05 6.7 10.05 6.5 0 2.4-14.26 7.8-17.86 8.1-5.4 19.45-5.03 29.03-3.3 19 3.46 25.54 34.1 44.64 36.85 18.43 2.64 40.7 1.1 54.7-11.16 6.03-5.28 5.34-15.16 8.93-22.33"/>
			</svg>
			<br>
			<p>If you would like to reach me, click any of the links in the doodley doo below.</p>
			<p>You can also view my more formal and detailed <a target="_blank" href="Resume.pdf">[resume]</a>.</p>
			<br>
		</div>
		<div class="move-to-top">
			<div id="resumetext" class="animated fadeIn svg-wrapper">
			  <svg class="svg-img" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" />
					<div class="text">Finish</div>
			  </svg>
			</div>
		</div>
	</section>

</div>
