<div class="inner-body">
	<section id="intro">
		<div class="intro-animation">
			<div class="animated fadeInDown">Super.</div>
			<div class="animated fadeIn">Simple.</div>
			<div class="animated fadeInUp">Design.</div>
		</div>
		<div id="introtext" class="svg-wrapper margin-top-svg-wrapper animated delayed1s fadeIn">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Tell Me About It</div>
		  </svg>
		</div>
	</section>

	<section id="about" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">About.</div>
		</div>
		<div class="section-center">
			<img class="headshot" src="http://www-scf.usc.edu/~dgarry/img/headshot.jpg">

		<p>
			<b>University of Southern California, 2019<br>
		  Computer Science &amp; Business Administration</b>
		</p>
		<p>
			I &lt;3 clean coding, <a target="_blank" href="https://unsplash.com/@davidgarry1">photography</a>, and [really] simple design.
		</p>
		</div>
		<div id="abouttext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="experience" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Experience.</div>
		</div>
		<div class="section-center">
			<img class="experience-photo" src="logos/usc.svg">
			<img class="experience-photo" src="logos/raytheon.svg">
			<img class="experience-photo" src="logos/kkbox.svg">
			<img class="experience-photo" src="logos/dashbid.svg">
		</div>
		<div id="experiencetext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="projects" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Projects.</div>
		</div>
		<div id="projectstext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="resume" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Resume.</div>
		</div>
		<div id="resumetext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

</div>
