<div class="inner-body">
	<section id="intro">
		<div class="intro-animation">
			<div class="animated fadeInDown">Super.</div>
			<div class="animated fadeIn">Simple.</div>
			<div class="animated fadeInUp">Design.</div>
		</div>
		<div id="introtext" class="svg-wrapper margin-top-svg-wrapper animated delayed1s fadeIn">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Show Me</div>
		  </svg>
		</div>
	</section>

	<section id="about" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">About.</div>
		</div>
		<div class="section-center">
			<img class="headshot" src="http://www-scf.usc.edu/~dgarry/img/headshot.jpg">

		<p>
			<b>University of Southern California, 2019<br>
		  Computer Science &amp; Business Administration</b>
		</p>
		<p>
			I &lt;3 clean coding, <a target="_blank" href="https://unsplash.com/@davidgarry1">photography</a>, and [really] simple design.
		</p>
		</div>
		<div id="abouttext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="experience" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Experience.</div>
		</div>
		<div class="section-center">
			<div class="photo-container">
				<img class="experience-photo-large" src="logos/usc.svg">
				<div class="experience-subtext">Head Teaching Assistant, Java Programming (ITP-109)
					<br><b>August 2016 - Present</b>
				</div>
			</div>
			<div class="photo-container">
				<img class="experience-photo-small" src="logos/raytheon.svg">
				<div class="experience-subtext">Software Development Intern, Raytheon
				<br><b>May 2017 - August 2017</b></div>
		  </div><div class="photo-container">
				<img class="experience-photo-small" src="logos/kkbox.svg">
				<div class="experience-subtext">Product Development Intern, KKBox
				<br><b>June 2016 - August 2016</b></div>
		  </div><div class="photo-container">
				<img class="experience-photo-small" src="logos/dashbid.svg">
				<div class="experience-subtext">Ad Operations Intern, DashBid
				<br><b>May 2014 - August 2015</b></div>
			</div>
		</div>
		<div id="experiencetext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="projects" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Projects.</div>
		</div>
		<div class="section-center">
			<br><br><br>
			I'm working on adding them, but in the meantime, you can check out my <a target="_blank" href="https://github.com/davidgarry1">GitHub</a>.
			<br><br><br>
		</div>
		<div id="projectstext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

	<section id="resume" class="hidden">
		<div class="intro-animation">
			<div class="animated fadeInDown">Thanks.</div>
		</div>
		<div class="section-center">
			<p>Not everyone makes it this far. My analytics tell me you are among ~45%.</p>
			<p>If you would like to reach me, click any of the links in the doodley doo below.</p>
			<br>
		</div>
		<div id="resumetext" class="svg-wrapper">
		  <svg height="3em" width="320" xmlns="http://www.w3.org/2000/svg">
		    <rect class="shape" height="3em" width="320" />
				<div class="text">Next</div>
		  </svg>
		</div>
	</section>

</div>
