<div class="inner-body">
	<div class="intro-animation">
		<div class="animated fadeInDown">Super.</div>
		<div class="animated fadeIn">Simple.</div>
		<div class="animated fadeInUp">Design.</div>
	</div>
</div>
