<!--


  _   _               ____    U _____ u      __  __  U _____ u      ____      _       _____  
 |'| |'|     ___   U |  _"\ u \| ___"|/    U|' \/ '|u\| ___"|/    U|  _"\ u  |"|     |"_  /u 
/| |_| |\   |_"_|   \| |_) |/  |  _|"      \| |\/| |/ |  _|"      \| |_) |/U | | u   U / //  
U|  _  |u    | |     |  _ <    | |___       | |  | |  | |___       |  __/   \| |/__  \/ /_   
 |_| |_|   U/| |\u   |_| \_\   |_____|      |_|  |_|  |_____|      |_|       |_____| /____|  
 //   \\.-,_|___|_,-.//   \\_  <<   >>     <<,-,,-.   <<   >>      ||>>_     //  \\  _//<<,- 
(_") ("_)\_)-' '-(_/(__)  (__)(__) (__)     (./  \.) (__) (__)    (__)__)   (_")("_)(__) (_/ 


-->

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat:900" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-title" content="David Garry">
<meta name="application-name" content="David Garry">
<meta name="theme-color" content="#000000">
<meta name="author" content="David Garry">
<link rel="canonical" href="https://dgarry.com">
<link rel="shortcut icon" href="http://www-scf.usc.edu/~dgarry/img/headshot.jpg" />
<link rel="apple-touch-icon" href="http://www-scf.usc.edu/~dgarry/img/headshot.jpg" sizes="180x180">
<link rel="icon" type="image/png" href="http://www-scf.usc.edu/~dgarry/img/headshot.jpg" sizes="32x32">
<link rel="icon" type="image/png" href="http://www-scf.usc.edu/~dgarry/img/headshot.jpg" sizes="16x16">
<meta property="og:image" content="http://www-scf.usc.edu/~dgarry/img/headshot.jpg">
<link rel="mask-icon" href="http://www-scf.usc.edu/~dgarry/img/headshot.jpg" color="#000000">
<meta property="og:site_name" content="David Garry">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://dgarry.com">
<meta property="og:title" content="David Garry">
<meta property="og:description" content="David Garry, Student & Developer">
<meta property="og:type" content="website">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="400">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@shavdave">
<title>David Garry</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
