<div class="dots-div">
	<div id="dotresumetext" data-page="resumetext" class="scroll_item">&nbsp;</div>
	<div id="dotintrotext" data-page="introtext" class="scroll_item">&nbsp;</div>
	<div id="dotabouttext" data-page="abouttext" class="scroll_item">&nbsp;</div>
	<div id="dotexperiencetext" data-page="experiencetext" class="scroll_item">&nbsp;</div>
	<div id="dotprojectstext" data-page="projectstext" class="scroll_item">&nbsp;</div>
</div>
