<div class="dots-div">
	<div data-page="resumetext" class="scroll_item">&nbsp;</div>
	<div data-page="introtext" class="scroll_item">&nbsp;</div>
	<div data-page="abouttext" class="scroll_item">&nbsp;</div>
	<div data-page="experiencetext" class="scroll_item">&nbsp;</div>
	<div data-page="projectstext" class="scroll_item">&nbsp;</div>
</div>
