<div class="dots-div">
	<ul>
		<li id="welcomeLi"><a href="#">Welcome</a></li>
		<li id="aboutLi"><a href="#">About</a></li>
		<li id="experienceLi"><a href="#">Experience</a></li>
		<li id="projectsLi"><a href="#">Projects</a></li>
		<li id="thanksLi"><a href="#">Thanks</a></li>
	</ul>
</div>
