<div class="dotstyle dotstyle-fillup">
	<ul>
		<li class="current"><a href="#">Welcome</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Experience</a></li>
		<li><a href="#">Projects</a></li>
		<li><a href="#">Thanks</a></li>
	</ul>
</div>
