<div class="dots-div">
	<div data-page="first" class="scroll_item">&nbsp;</div>
	<div data-page="second" class="scroll_item">&nbsp;</div>
	<div data-page="third" class="scroll_item">&nbsp;</div>
	<div data-page="fourth" class="scroll_item">&nbsp;</div>
</div>
