html {
    height: 100%;
    width: 100%;
    margin: 0
    overflow: hidden;
}
body {
    background: white;
    color: black;
    font-family: 'Josefin Sans';
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.footer .contact-icon {
    height: 1.8em;
    width: 1.8em;
}
.footer .contact-icon:hover {
  position: relative;
  top: -5px;
}
.section-center {
  text-align: center;
  font-size: 1.4em;
  overflow-x: hidden;
    align-items: center;
}

.section-center .photo-container {
  display: inline-block;
  margin: 15px;
  vertical-align: bottom;
  width: 40%;
  overflow: hidden;
}
.section-center .standalone-image {
    margin-top: 1em;
    width: 30%;
}
.section-center .text-cutoff {
    width: 50%;
    margin-left: 25%;
}
@media(max-width: 600px){
    .section-center .text-cutoff {
        width: 100%;
        margin-left: 0px;
    }
   .section-center .standalone-image {
      margin-top: 30px;
      width: 90%;
   }
  .section-center .photo-container {
    width: 90%;
  }
  .section-center .experience-subtext {
    margin-bottom: 0.5em;
  }
}
.section-center iframe {
  height: 90%;
  width: 90%;
}
.section-center .experience-photo-large {
  height: 5em;
  max-width: 90%;
  margin: 5px;
  display: inline-block;
}
.section-center .experience-photo-small {
  height: 4em;
  max-width: 80%;
  margin: 5px;
  display: inline-block;
}
.section-center .experience-subtext {
  margin-bottom: 2em;
}
.section-center .headshot {
  height: 9em;
  border-radius: 4.5em;
}
.section-center a {
  color: inherit;
  text-decoration: none;
}
.section-center a:hover {
  color: darkgrey;
  position: relative;
  top: -2px;
}
.sidebar li {
  padding: 0px;
  padding-bottom:3px;
  margin: 0px;
}
.sidebar li::before {
  content: "\00BB";
}
.sidebar li:hover {
  color: grey;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row {

}
.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.box .row.content {
  flex: 1 1 auto;
  margin: 15px;
  position: relative;
  background-color: white;
  overflow: auto;
}
.box .row.footer {
  text-align: center;
  flex: 0 1 auto;
  margin: 7px;
  font-size: 1.3em;
  font-weight: bold;
}

.intro-animation {
  text-align: left;
  font-size: 3em;
}
.title {
  font-size: 6vw;
  line-height: 0.65em;
  overflow: hidden;
  color: white;
  padding-top: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.title-text {
  background-color: black;
  background-image: url('');
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  transition: background-image 1s ease-in-out;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 0.4em;
  text-align: right;
  padding-right: 0.2em;
  font-family: 'Montserrat', sans-serif;
}
.margin-top {
  margin-top: 40%;
}
.svg-wrapper {
  height: 3em;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 320px;
  text-align: center;
}
.svg-img {
    width: 100%;
    height: 100%;
}
.shape {
  height: 100%;
   width: 100%;
  fill: black;
  stroke-width: 0px;
  stroke: black;
  cursor: pointer;
}

.hidden {
  display: none;
}

.text {
  color: white;
  font-size: 1.7em;
  position: relative;
  top: calc(-1.7em - 5px);
  cursor: pointer;
  line-height: 1.7em;
}

.inner-body {
  margin: 15px;
}

@keyframes draw {
  0% {
    stroke: black;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 0px;
  }
  100% {
    stroke: black;
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.25s draw linear forwards;
  animation: 0.25s draw linear forwards;
  fill: white;
}

.svg-wrapper:hover .text {
  color: black;
}
